/* ------------------
   Ellos Brand Styles
   ------------------ */

/* Colors */
.bg-black {
  background: #000;
}
.bg-white {
  background: #FFF;
}

.bg-black-opacity {
  background: rgba(0, 0, 0, .7);
}
.bg-white-opacity {
  background: rgba(255, 255, 255, .7);
}

.black {
  color: #000;
}
.white {
  color: #FFF;
}

@media screen and (max-width: 767px) { 
  .mobile-black {
    color: #000;
  }
  .mobile-white {
    color: #FFF;
  }
  .mobile-bg-black {
    background: #000;
  }
} 

/* Border Colors */
.border-black {
  border-color: #000;
}
.border-white {
  border-color: #FFF;
}

/* Fonts */


/* Buttons */



/* ------------------
   Modules and Assets
   ------------------ */
