/* ------------------------------------------
 Scaling Fonts (Use Both Desktop + Mobile FS)
--------------------------------------------- */

/* Mobile Fonts - Scaling VW (767px & Below) */
.fs16m {
    font-size: 16px;
  }
  .fs20m {
    font-size: 20px;
  }
  .fs24m {
    font-size: 24px;
  }
  .fs26m {
    font-size: 3.38vw;
  }
  .fs30m {
    font-size: 3.91vw;
  }
  .fs32m {
    font-size: 4.17vw;
  }
  .fs35m {
    font-size: 4.56vw;
  }
  .fs40m {
    font-size: 5.21vw;
  }
  .fs45m {
    font-size: 5.86vw;
  }
  .fs50m {
    font-size: 6.51vw;
  }
  .fs55m {
    font-size: 7.17vw;
  }
  .fs60m {
    font-size: 7.82vw;
  }
  .fs75m {
    font-size: 9.77vw;
  }
  .fs80m {
    font-size: 10.43vw;
  }
  .fs90m {
    font-size: 11.73vw;
  }
  .fs100m {
    font-size: 13.03vw;
  }
  .fs110m {
    font-size: 14.34vw;
  }
  .fs120m {
    font-size: 15.64vw;
  }
  .fs130m {
    font-size: 16.94vw;
  }
  .fs140m {
    font-size: 18.25vw;
  }
  .fs150m {
    font-size: 19.55vw;
  }
  .fs160m {
    font-size: 20.86vw;
  }
  .fs170m {
    font-size: 22.16vw;
  }
  .fs180m {
    font-size: 23.46vw;
  } 
  .fs190m {
    font-size: 24.77vw;
  } 
  
  /* Static Desktop Fonts - 1024px & Up */
  @media screen and (min-width: 1024px) {
    .fs300d {
      font-size: 300px;
    }
    .fs270d {
      font-size: 270px;
    }
    .fs250d {
      font-size: 250px;
    }
    .fs220d {
      font-size: 220px;
    }
    .fs190d {
      font-size: 190px;
    }
    .fs180d {
      font-size: 180px;
    }
    .fs170d {
      font-size: 170px;
    }
    .fs160d {
      font-size: 160px;
    }
    .fs150d {
      font-size: 150px;
    }
    .fs140d {
      font-size: 140px;
    }
    .fs130d {
      font-size: 130px;
    }
    .fs120d {
      font-size: 120px;
    }
    .fs110d {
      font-size: 110px;
    }
    .fs100d {
      font-size: 100px;
    }
    .fs95d {
      font-size: 95px;
    }
    .fs90d {
      font-size: 90px;
    }
    .fs85d {
      font-size: 85px;
    }
    .fs80d {
      font-size: 80px;
    }
    .fs75d {
      font-size: 75px;
    }
    .fs70d {
      font-size: 70px;
    }
    .fs65d {
      font-size: 65px;
    }
    .fs60d {
      font-size: 60px;
    }
    .fs55d {
      font-size: 55px;
    }
    .fs50d {
      font-size: 50px;
    }
    .fs48d {
      font-size: 48px;
    }
    .fs45d {
      font-size: 45px;
    }
    .fs40d {
      font-size: 40px;
    }
    .fs35d {
      font-size: 35px;
    }
    .fs32d {
      font-size: 32px;
    }
    .fs30d {
      font-size: 30px;
    }
    .fs28d {
      font-size: 28px;
    }
    .fs24d {
      font-size: 24px;
    }
    .fs20d {
      font-size: 20px;
    }
    .fs18d {
      font-size: 18px;
    }
    .fs16d {
      font-size: 16px;
    }
    .fs15d {
      font-size: 15px;
    }
    .fs12d {
      font-size: 12px;
    }
  }
  /* Larger fonts needs to scale sooner */
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .fs300d {
      font-size: 23.43vw;
    }
    .fs270d {
      font-size: 21.09vw;
    }
    .fs250d {
      font-size: 19.53vw;
    }
    .fs220d {
      font-size: 17.18vw;
    }
    .fs190d {
      font-size: 14.84vw;
    }
    .fs180d {
      font-size: 14vw;
    }
    .fs170d {
      font-size: 13.28vw;
    }
    .fs160d {
      font-size: 12.5vw;
    }
    .fs150d {
      font-size: 11.71vw;
    }
    .fs140d {
      font-size: 10.93vw;
    }
    .fs130d {
      font-size: 10.15vw;
    }
    .fs120d {
      font-size: 9.375vw;
    }
    .fs110d {
      font-size: 8.59vw;
    }
    .fs100d {
      font-size: 7.81vw;
    }
    .fs95d {
      font-size: 7.42vw;
    }
    .fs90d {
      font-size: 7.03vw;
    }
    .fs85d {
      font-size: 6.64vw;
    }
    .fs80d {
      font-size: 6.25vw;
    }
    .fs60d {
      font-size: 4.68vw;
    }
    .fs55d {
      font-size: 4.29vw;
    }
    .fs50d {
      font-size: 3.9vw;
    }
    .fs48d {
      font-size: 3.75vw;
    }
    .fs30d {
      font-size: 2.34vw;
    }
  }
  /* Scale all fonts between desktop and ipad */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .fs100d {
      font-size: 9.76vw;
    }
    .fs95d {
      font-size: 9.28vw;
    }
    .fs90d {
      font-size: 8.78vw;
    }
    .fs85d {
      font-size: 8.3vw;
    }
    .fs80d {
      font-size: 7.81vw;
    }
    .fs75d {
      font-size: 7.33vw;
    }
    .fs70d {
      font-size: 6.84vw;
    }
    .fs65d {
      font-size: 6.34vw;
    }
    .fs60d {
      font-size: 5.85vw;
    }
    .fs55d {
      font-size: 5.37vw;
    }
    .fs50d {
      font-size: 4.88vw;
    }
    .fs48d {
      font-size: 4.6vw;
    }
    .fs45d {
      font-size: 4.39vw;
    }
    .fs40d {
      font-size: 3.9vw;
    }
    .fs35d {
      font-size: 3.41vw;
    }
    .fs32d {
      font-size: 3.12vw;
    }
    .fs30d {
      font-size: 2.5vw;
    }
    .fs24d {
      font-size: 2.34vw;
    }
    .fs20d {
      font-size: 1.95vw;
    }
    .fs18d {
      font-size: 1.75vw;
    }
    .fs16d {
      font-size: 1.56vw;
    }
    .fs15d {
      font-size: 1.46vw;
    }
    .fs12d {
      font-size: 1.17vw;
    }
  }  
   
  
/* Static Fonts (Same Size on all Devices) */
.fs12 {
    font-size: 12px;
  }
  .fs15 {
    font-size: 15px;
  }
  .fs16 {
    font-size: 16px;
  }
  .fs18 {
    font-size: 18px;
  }
  .fs20 {
    font-size: 20px;
  }
  .fs22 {
    font-size: 22px;
  }
  .fs25 {
    font-size: 25px;
  }
  .fs28 {
    font-size: 28px;
  }
  .fs30 {
    font-size: 30px;
  }
  .fs35 {
    font-size: 35px;
  }
  .fs58 {
    font-size: 58px;
  }
  .fs62 {
    font-size: 62px;
  }
  .fs74 {
    font-size: 74px;
  }
  .fs120 {
    font-size: 120px;
  }