/* -----------
   Fluid Fonts
   ----------- */
/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */

/* Min Size */
.fs12 {
    font-size: 12px;
}
.fs14 {
    font-size: 13px;
}
.fs16 {
    font-size: 14px;
}
.fs18 {
    font-size: 15px;
}
.fs20 {
    font-size: 16px;
}
.fs22 {
    font-size: 17px;
}
.fs24 {
    font-size: 18px;
}
.fs28 {
    font-size: 19px;
}
.fs30 {
    font-size: 20px;
}
.fs35 {
    font-size: 22px;
}
.fs40 {
    font-size: 23px;
}
.fs45 {
    font-size: 24px;
}
.fs50 {
    font-size: 26px;
}
.fs55 {
    font-size: 28px;
}
.fs60 {
    font-size: 30px;
}
.fs65 {
    font-size: 32px;
}
.fs70 {
    font-size: 35px
}
.fs75 {
    font-size: 37px;
}
.fs80 {
    font-size: 40px;
}
.fs85 {
    font-size: 42px;
}
.fs90 {
    font-size: 45px;
}
.fs95 {
    font-size: 47px;
}
.fs100 {
    font-size: 50px;
}
.fs110 {
    font-size: 52px;
}
.fs120 {
    font-size: 54px;
}
.fs130 {
    font-size: 56px;
}
.fs140 {
    font-size: 58px;
}
.fs150 {
    font-size: 60px;
}
.fs160 {
    font-size: 62px;
}
.fs170 {
    font-size: 64px;
}
.fs180 {
    font-size: 66px;
}
.fs190 {
    font-size: 68px;
}
.fs200 {
    font-size: 70px;
}
.fs210 {
    font-size: 72px;
}
.fs220 {
    font-size: 74px;
}
.fs230 {
    font-size: 76px;
}
.fs240 {
    font-size: 78px;
}
.fs250 {
    font-size: 80px;
}
.fs260 {
    font-size: 82px;
}
.fs270 {
    font-size: 84px;
}
.fs280 {
    font-size: 86px;
}
.fs290 {
    font-size: 88px;
}
.fs300 {
    font-size: 90px;
}


@media screen and (min-width: 320px) {
    .fs12 { /* 12px */
        font-size: calc(12px + 0 * ((100vw - 320px) / 704));
    }
    .fs14 { /* 14px to 13px*/
        font-size: calc(13px + 1 * ((100vw - 320px) / 704));
    }
    .fs16 { /* 16px to 14px */
        font-size: calc(14px + 2 * ((100vw - 320px) / 704));
    }
    .fs18 { /* 18px to 15px */
        font-size: calc(15px + 3 * ((100vw - 320px) / 704));
    }
    .fs20 { /* 20px to 16px */
        font-size: calc(16px + 4 * ((100vw - 320px) / 704));
    }
    .fs22 { /* 22px to 17px */
        font-size: calc(17px + 5 * ((100vw - 320px) / 704));
    }
    .fs24 { /* 24px to 18px */
        font-size: calc(18px + 6 * ((100vw - 320px) / 960));
    }
    .fs28 { /* 28px to 19px */
        font-size: calc(19px + 9 * ((100vw - 320px) / 960));
    }
    .fs30 { /* 30px to 20px */
        font-size: calc(20px + 10 * ((100vw - 320px) / 960));
    }
    .fs35 { /* 35px to 22px */
        font-size: calc(22px + 13 * ((100vw - 320px) / 960));
    }
    .fs40 { /* 40px to 23px */
        font-size: calc(23px + 17 * ((100vw - 320px) / 960));
    }
    .fs45 { /* 45px to 24px */
        font-size: calc(24px + 21 * ((100vw - 320px) / 960));
    }
    .fs50 { /* 50px to 26px */
        font-size: calc(26px + 24 * ((100vw - 320px) / 960));
    }
    .fs55 { /* 55px to 28px */
        font-size: calc(28px + 27 * ((100vw - 320px) / 960));
    }
    .fs60 { /* 60px to 30px */
        font-size: calc(30px + 30 * ((100vw - 320px) / 960));
    }
    .fs65 { /* 65px to 32px */
        font-size: calc(32px + 33 * ((100vw - 320px) / 960));
    }
    .fs70 { /* 60px to 30px */
        font-size: calc(35px + 35 * ((100vw - 320px) / 960));
    }
    .fs75 { /* 75px to 37px */
        font-size: calc(37px + 38 * ((100vw - 320px) / 960));
    }
    .fs80 { /* 80px to 40px */
        font-size: calc(40px + 40 * ((100vw - 320px) / 960));
    }
    .fs85 { /* 85px to 42px */
        font-size: calc(42px + 43 * ((100vw - 320px) / 960));
    }
    .fs90 { /* 90px to 45px */
        font-size: calc(45px + 45 * ((100vw - 320px) / 960));
    }
    .fs95 { /* 95px to 47px */
        font-size: calc(47px + 48 * ((100vw - 320px) / 960));
    }
    .fs100 { /* 100px to 50px */
        font-size: calc(50px + 50 * ((100vw - 320px) / 960));
    }
    .fs110 { /* 100px to 52px */
        font-size: calc(52px + 58 * ((100vw - 320px) / 960));
    }
    .fs120 { /* 100px to 54px */
        font-size: calc(54px + 66 * ((100vw - 320px) / 960));
    }
    .fs130 { /* 100px to 56px */
        font-size: calc(56px + 74 * ((100vw - 320px) / 960));
    }
    .fs140 { /* 100px to 58px */
        font-size: calc(58px + 82 * ((100vw - 320px) / 960));
    }
    .fs150 { /* 150px to 60px */
        font-size: calc(60px + 90 * ((100vw - 320px) / 960));
    }
    .fs160 { /* 160px to 62px */
        font-size: calc(62px + 98 * ((100vw - 320px) / 960));
    }
    .fs170 { /* 170px to 64px */
        font-size: calc(64px + 106 * ((100vw - 320px) / 960));
    }
    .fs180 { /* 180px to 66px */
        font-size: calc(66px + 114 * ((100vw - 320px) / 960));
    }
    .fs190 { /* 190px to 68px */
        font-size: calc(68px + 122 * ((100vw - 320px) / 960));
    }
    .fs200 { /* 200px to 70px */
        font-size: calc(70px + 130 * ((100vw - 320px) / 960));
    }
    .fs210 { /* 210px to 72px */
        font-size: calc(72px + 138 * ((100vw - 320px) / 960));
    }
    .fs220 { /* 220px to 74px */
        font-size: calc(74px + 146 * ((100vw - 320px) / 960));
    }
    .fs230 { /* 230px to 76px */
        font-size: calc(76px + 154 * ((100vw - 320px) / 960));
    }
    .fs240 { /* 240px to 78px */
        font-size: calc(78px + 162 * ((100vw - 320px) / 960));
    }
    .fs250 { /* 250px to 80px */
        font-size: calc(80px + 170 * ((100vw - 320px) / 960));
    }
    .fs260 { /* 260px to 82px */
        font-size: calc(82px + 178 * ((100vw - 320px) / 960));
    }
    .fs270 { /* 270px to 84px */
        font-size: calc(84px + 186 * ((100vw - 320px) / 960));
    }
    .fs280 { /* 280px to 86px */
        font-size: calc(86px + 194 * ((100vw - 320px) / 960));
    }
    .fs290 { /* 290px to 88px */
        font-size: calc(88px + 202 * ((100vw - 320px) / 960));
    }
    .fs300 { /* 300px to 90px */
        font-size: calc(90px + 210 * ((100vw - 320px) / 960));
    }
}

/* Max Sizes */
@media screen and (min-width: 1280px) {
    .fs12 {
        font-size: 12px;
    }
    .fs14 {
        font-size: 14px;
    }
    .fs16 {
        font-size: 16px;
    }
    .fs18 {
        font-size: 18px;
    }
    .fs20 {
        font-size: 20px;
    }
    .fs22 {
        font-size: 22px;
    }
    .fs24 {
        font-size: 24px;
    }
    .fs28 {
        font-size: 28px;
    }
    .fs30 {
        font-size: 30px;
    }
    .fs35 {
        font-size: 35px;
    }
    .fs40 {
        font-size: 40px;
    }
    .fs45 {
        font-size: 45px;
    }
    .fs50 {
        font-size: 50px;
    }
    .fs55 {
        font-size: 55px;
    }
    .fs60 {
        font-size: 60px;
    }
    .fs65 {
        font-size: 65px;
    }
    .fs70 {
        font-size: 70px
    }
    .fs75 {
        font-size: 75px;
    }
    .fs80 {
        font-size: 80px;
    }
    .fs85 {
        font-size: 85px;
    }
    .fs90 {
        font-size: 90px;
    }
    .fs95 {
        font-size: 95px;
    }
    .fs100 {
        font-size: 100px;
    }
    .fs110 {
        font-size: 110px;
    }
    .fs120 {
        font-size: 120px;
    }
    .fs130 {
        font-size: 130px;
    }
    .fs140 {
        font-size: 140px;
    }
    .fs150 {
        font-size: 150px;
    }
    .fs160 {
        font-size: 160px;
    }
    .fs170 {
        font-size: 170px;
    }
    .fs180 {
        font-size: 180px;
    }
    .fs190 {
        font-size: 190px;
    }
    .fs200 {
        font-size: 200px;
    }
    .fs210 {
        font-size: 210px;
    }
    .fs220 {
        font-size: 220px;
    }
    .fs230 {
        font-size: 230px;
    }
    .fs240 {
        font-size: 240px;
    }
    .fs250 {
        font-size: 250px;
    }
    .fs260 {
        font-size: 260px;
    }
    .fs270 {
        font-size: 270px;
    }
    .fs280 {
        font-size: 280px;
    }
    .fs290 {
        font-size: 290px;
    }
    .fs300 {
        font-size: 300px;
    }
}