/* ------------------------
   Woman Withn Brand Styles
   ------------------------ */

/* Colors */
.bg-pink {
  background: #ff009c;
}
.bg-black {
  background: #000;
}
.bg-white {
  background: #FFF;
}
.bg-grey {
  background: #f4f4f4;
}

.bg-black-opacity {
  background: rgba(0, 0, 0, .7);
}
.bg-white-opacity {
  background: rgba(255, 255, 255, .7);
}

.pink {
  color: #ed008c;
}
.black {
  color: #000;
}
.white {
  color: #FFF;
}
.grey {
  color: #f4f4f4;
}

@media screen and (max-width: 767px) { 
  .mobile-black {
    color: #000;
  }
  .mobile-white {
    color: #FFF;
  }
  .mobile-bg-black {
    background: #000;
  }
} 

/* Border Colors */
.border-pink {
  border-color: #ff009c;
}
.border-black {
  border-color: #000;
}
.border-white {
  border-color: #FFF;
}
.border-grey {
  border-color: #f4f4f4;
}

/* Fonts */
.futura-book {
    font-family: "Futura LT W01 Book", sans-serif;
}
.futura-light {
    font-family: "Futura LT W01 Light", sans-serif;
}
.futura-med {
    font-family: "Futura LT W01 Medium", sans-serif;
}
.futura-bold {
    font-family: "Futura LT W01 Bold", sans-serif;
}

.hurme-light {
    font-family: "Hurme Geometric Sans_1 W01 Lt", sans-serif;
}
.hurme-regular {
    font-family: "Hurme Geometric Sans_1 W01 Rg", sans-serif;
}
.hurme-black {
    font-family: "Hurme Geometric Sans_1 W01 Blk", sans-serif;
}
.hurme-semibold { 
    font-family: "Hurme Geometric Sans_1 W01 SmB", sans-serif;
}
.hurme-bold {
    font-family: "Hurme Geometric Sans_1 W01 Bol", sans-serif;
}


.avenir-regular {
    font-family: "AvenirNextLTW01-Regular", sans-serif;
}
.avenir-medium {
    font-family: "AvenirNextLTW01-Medium", sans-serif;
}
.avenir-bold {
    font-family: "Avenir Next LT W01 Bold", sans-serif;
}


.quickpen-regular {
    font-family: "Quickpen W00 Regular", sans-serif;
}
.quickpen-bold {
    font-family: "Quickpen W00 Bold", sans-serif;
}


.baskerville-reg {
    font-family: "Baskerville MT W01 Regular", serif;
}
.baskerville-italic {
    font-family: "Baskerville MT W01 Italic", serif;
}
.baskerville-semibold-italic {
    font-family: "Baskerville MT W01 Semibold It", serif;
}

.work-sans {
    font-family: "Work Sans", sans-serif;
}
.lora {
    font-family: "Lora", serif;
}


/* Buttons */
.cta-btn {
  padding: 15px 35px;
  font-family: "Futura LT W01 Book",sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .18em;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: inline-block;
}
@media screen and (max-width: 767px) { 
  .mobile-cta-btn {
    padding: 15px 35px;
    font-family: "Futura LT W01 Book",sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .18em;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: inline-block;
    text-decoration: none;
    margin: 0;
  }
}

/* ------------------
   Modules and Assets
   ------------------ */
.module-promo-content {
  min-height: 250px;
  height: 245px; /* IE Fix */
}
.module-offers-dd {
  max-width: 290px;
  min-height: 180px;
  height: 175px; /* IE Fix */
  margin-bottom: 20px;
}
.slideline {
  display: inline-block;
  height: 1px;
  vertical-align: middle;
}
.slideline-content {
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-offers .offer-flyout-main span.offers {
    line-height: 0;
    display: inline-block;
    margin-top: 15px;
}